@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #eeeeee;
  box-sizing: border-box;
}
body {
  
}
h1{
  font-size: 54px;
}
button{
  border: 2px solid greenyellow;
  background-color: greenyellow;
  color: black;
  padding: 10px 20px;
  border-radius: 7px;
}
button:hover{
  background-color: transparent;
  color: greenyellow;
  transition: all 0.3s linear;
}